.env
*.env
reports/*
!reports/.gitkeep
*.log
*.tmp
*.swp
*.swo
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.envrc
